body {
    font-family: Tahoma;
    font-size: 14px;
    width: 1000px;
    margin: 0px auto;
}
#menu_top {
    background-color: black;
    height: 40px;
}
#baner {
    width: 1000px;

}
#main #left {
    width: 800px;
    float: left;
    min-height: 400px;

}
#main #right {
    width: 200px;
    float: left;
    min-height:400px 
}
#Footer {
    width: 1000px;
    text-align: center;
    height: auto;
    clear: left;
    line-height: 50px;
    background: #222;
}
#menu_top ul {
    margin: 0;
    padding: 0;
}
#menu_top ul li {
    list-style: none;
    float: left;
}
#menu_top ul li a {
    text-decoration:none ;
    display: block;
    height: 40;
    line-height: 40px;
    color: honeydew;
    padding: 0px 20px 0px 20px;
    border-right:1px solid #222 ;
}
#menu_top ul li a:hover {
    color: yellowgreen;
}
#menu_top ul li a.active {
    background-color: #1949b5;
}
#baner img {
    width: 1000px;
    height: 300px;
}
#main #left ul {
    margin: 0;
    padding: 0;
}
#main #left ul li {
    list-style: none;
    float: left;  
    clear: left;
    margin-bottom: 10px;

}
#main #left ul li a {
    text-decoration: none;
}
#main {
    margin-top: 7px;
}

#main #left ul li img {
    float: left;
    margin-right: 13px;
    margin-bottom: 10px;
    border: 1px solid black;
}
#main #left ul li h2 {
    font-family:  Tahoma;
    font-size: 15px;
    margin-top: 0px;
}
#main #left ul li h2 a:hover {
    color: yellowgreen;
}
#main #right .menu_right ul {
    padding: 0;
    margin: 0px;
    
}
#main #right .menu_right ul li {
    list-style: none; 
    clear: left;
}
#main #right .menu_right ul li a {
    text-decoration: none;
    display: block;
    line-height: 30px;
    text-indent: 15px;
    border: 1px solid #ccc

}
#main #right .menu_right ul li a:hover {
    color: yellowgreen;
}
#main #right .menu_right h3 {
    background: #0000FF ;
    height: 40px;
    margin-top: 0px;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-indent: 10px;
    margin: -0.1px;
    
}
#main #right .menu_right h3 i {
    margin-right: 8px ;
}
#main #right .menu_right ul li a i {
    margin-right: 10px ;
}
#Footer h5 {
    margin-top: -50px ;
}
a {
    color:#3399FF;
}